<!-- Global footer. Injected by js/partials.js into [data-include="footer"]. -->
<footer class="sf-footer" role="contentinfo" data-theme="day" id="community">
  <div class="sf-footer__links">
    <div class="sf-footer__brand">
      <img class="sf-footer__logo"
           src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/salesforce-logo.svg"
           alt="Salesforce" width="92" height="65" />
      <div class="sf-footer__social">
        <a href="#" aria-label="Facebook"><img src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/footer-social/facebook.svg" alt="Facebook" width="32" height="32" /></a>
        <a href="#" aria-label="X (Twitter)"><img src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/footer-social/twitter.svg" alt="X (Twitter)" width="32" height="32" /></a>
        <a href="#" aria-label="LinkedIn"><img src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/footer-social/linkedin.svg" alt="LinkedIn" width="32" height="32" /></a>
        <a href="#" aria-label="Instagram"><img src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/footer-social/instagram.svg" alt="Instagram" width="32" height="32" /></a>
        <a href="#" aria-label="YouTube"><img src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/footer-social/youtube.svg" alt="YouTube" width="32" height="32" /></a>
        <a href="#" aria-label="TikTok"><img src="https://sfdc-ui-documentation-667d4c5e8394.herokuapp.com/dms-design-tokens/images/footer-social/tik-tok.svg" alt="TikTok" width="32" height="32" /></a>
      </div>
      <p class="sf-footer__phone">Call us at 1-800-664-9073</p>
      <a href="#" class="sf-footer__contact-link">See All Ways to Contact Us</a>
    </div>

    <div class="sf-footer__columns">
      <div class="sf-footer__column">
        <h3>Trailblazer Labs</h3>
        <ul>
          <li><a href="./assets.html">Browse Community Assets</a></li>
          <li><a href="./pitch.html#pitch">Pitch Your Idea</a></li>
          <li><a href="#">Publishing Guidelines</a></li>
          <li><a href="#">Open-Source License Help</a></li>
        </ul>
      </div>
      <div class="sf-footer__column">
        <h3>Agent Exchange</h3>
        <ul>
          <li><a href="#">Featured Agents</a></li>
          <li><a href="#">Become a Partner</a></li>
          <li><a href="#">Developer Docs</a></li>
          <li><a href="#">Security Review</a></li>
        </ul>
      </div>
      <div class="sf-footer__column">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Trailblazer Community</a></li>
          <li><a href="#">Agentforce Vibes</a></li>
          <li><a href="#">Trailhead</a></li>
          <li><a href="#">Dreamforce &rsquo;26</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="sf-footer__bottom">
    <div class="sf-footer__bottom-inner">
      <button class="sf-footer__region tds2-button">
        <i class="icon icon--world"></i>
        Worldwide <span aria-hidden="true">&#9662;</span>
      </button>
      <div class="sf-footer__legal">
        <div class="sf-footer__legal-links">
          <a href="#">Legal</a>
          <a href="#">Terms of Service</a>
          <a href="#">Privacy Information</a>
          <a href="#">Responsible Disclosure</a>
          <a href="#">Trust</a>
          <a href="#">Contact</a>
          <a href="#">Cookie Preferences</a>
          <a href="#">Your Privacy Choices</a>
        </div>
        <p class="sf-footer__copyright">
          &copy; Copyright 2026 Salesforce, Inc. <a href="#">All rights reserved</a>.
          Various trademarks held by their respective owners. Salesforce, Inc.
          Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105,
          United States
        </p>
      </div>
    </div>
  </div>
</footer>
